# Porta em que o servidor Express vai rodar
PORT=3000

# Configurações de conexão com o banco MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=crm_2pak

# Ambiente de execução (development | production)
NODE_ENV=development
