PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Kl10060104@
DB_NAME=2pak_crm

# Autenticação
JWT_SECRET=cortex_jwt_secret_2026
JWT_EXPIRES_IN=1d

# Scraper
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

# Supabase
SUPABASE_URL=COLE_AQUI_SUA_URL
SUPABASE_KEY=COLE_AQUI_SUA_CHAVE